@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary1: #6571F1;
    --primary2: #2EB67D;
    --secondary1: #242FEB;
    --secondary2: #207D56;
    --text1: #131A2D;
    --text2: #ffffff;

}

::selection {
    color: var(--text2);
    background: var(--primary2);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--text1)
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*navbar1 style*/

.navbar1 {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 12px 40px;
    transition: all 0.3s ease;
}

.navbar1.sticky {
    padding: 12px 40px 2px 40px;
    background-color: var(--text2);
    box-shadow: 10px -12px 65px 2px rgba(186, 200, 255, 0.54);

}

.navbar1 .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar1 .logo a {
    color: var(--text1);
    font-size: 26px;
    font-weight: 600;
}

.navbar1 .menu li {
    list-style: none;
    display: inline-block;
}

.navbar1 .menu li a {
    display: block;
    color: var(--text1);
    font-size: 18px;
    font-weight: 500;
    margin-left: 36px;
    transition: color 0.3s ease;
    padding-top: 8px;
    margin-left: 46px;
}


.navbar1 .menu li a:hover {
    color: var(--primary2);
}

.navbar1.sticky .logo a {
    color: var(--text1);
}

.navbar1.sticky .menu li a {
    color: var(--text1);
}

.navbar1.sticky .menu li a:hover {
    color: var(--primary2);
}

/* menu btn styling */
.menu-btn {
    color: var(--text1);
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*Header style*/

.left_box {
    padding: 24px 44px;
    margin-top: 100px;
}

.left_box h1 {
    font-size: 88px;
    line-height: 88px;
    font-weight: 700;
}

.left_box p {
    margin-top: 20px;
    font-size: 26px;
    line-height: 26*1.1px;
    font-weight: 400;
}

.headerImage {
    width: 86%;
    height: auto;
    margin: 14% 7% 12% 7%;
}


.connect {
    margin-top: 10px;
    border: none;
    width: 280px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--primary2);
    color: var(--text2);
    border-radius: 6px;
}

.connectimg {
    width: 48px;
    height: auto;
    margin: 0% 4% 0% 0%;
}

.connect:hover {
    background-color: var(--secondary2);
}


.aboutHeading {
    padding: 36px 16px;
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    margin: 44px 0px 0px 0px;
    color: var(--primary2);
}

.dotbox1 {
    position: relative;
}

.dotbox1 img {
    position: absolute;
    right: 15px;
    top: 15px;
}

.aboutImage {
    width: 60%;
    height: auto;
    margin: 2% 20% 2% 20%;
}


.about_box {
    padding: 14% 6% 2% 2%;
}

.about_box p {
    font-size: 20px;
    line-height: 32px;
}

.workText {
    padding: 4px 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: var(--primary2);
}

.topic {
    margin-top: 14px;
    padding-top: 16px;
}

.feature {
    width: 64%;
    height: auto;
    margin: 1% 18% 0% 18%;
}

.feature img {
    width: 28px;
    height: 20px;
    margin: 8px 18px;
}

.feature p {
    font-size: 20px;
}


/* footer section styling */

footer {
    background: var(--secondary2);
    padding: 2px 23px;
    color: var(--text2);
    text-align: center;
    margin-top: 12px;
}

footer span {
    color: var(--text2);
    text-decoration: none;
}

footer span a {
    color: var(--text2);
    text-decoration: none;
}

.Linkdin:focus {
    box-shadow: none;
}

.telegramBtn {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    background-color: var(--primary2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all 0.5s;
}

.telegramBtn a {
    white-space: nowrap;
}

.telegramBtn span {
    display: none;
    color: var(--text2);
    font-size: 18px;
    transition: all 0.5s;
    font-weight: 700;
}

.telegramBtn:hover span {
    display: inline-block;
    transition: all 0.5s;
}

.telegramBtn:hover {
    width: 212px;
    transition: all 0.5s;
}

.telegramBtn img {
    width: 36px;
    height: auto;
}

.guide {
    color: var(--primary2);
    font-weight: 700;
    text-align: center;
    margin: 18px 0px 8px 0px;
    font-size: 16px;
}

.guide:hover {
    color: var(--secondary2);
}

@media (max-width: 947px) {

    /*navbar styling */

    .navbar1 {
        padding: 8px 16px;
    }

    .navbar1.sticky {
        padding: 8px 16px;
    }

    .navbar1 .logo a {
        font-size: 22px;
    }

    .navbar1 .menu li a {
        color: var(--text1);
        margin: 16px;
    }

    .navbar1 .menu li a:hover {
        color: var(--primary2);
    }

    .navbar1 .menu.active {
        padding: 0px;
        padding-top: 56px;
    }

    .navbar1.sticky .menu li a {
        color: var(--text1);
    }

    .navbar1.sticky .menu li a:hover {
        color: var(--primary2);
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
        color: var(--text1);
    }

    .navbar1 .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 100%;
        top: 0;
        background: var(--text2);
        text-align: center;
        padding-top: 0px;
        transition: all 0.3s ease;
    }

    .navbar1 .menu.active {
        left: 0;
    }

    .navbar1 .menu li {
        display: block;
    }

    .navbar1 .menu li a {
        display: inline-block;
        margin: 14px 0;
        font-size: 25px;
    }

    /* header */
    .left_box {
        padding: 0px 16px;
        margin-top: 10px;
    }

    .left_box h1 br {
        display: none;
    }

    .left_box p br {
        display: none;
    }

    .headerImage {
        width: 94%;
        height: auto;
        margin: 20% 3% 2% 3%;
    }

    .left_box h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .left_box p {
        font-size: 16px;
        margin-top: 10px;
        width: 330px;
    }

    .connect {
        margin-top: 6px;
        width: 200px;
        height: 36px;
        font-size: 14px;
        margin-bottom: 12px;
    }

    .connectimg {
        width: 28px;
        height: auto;
        margin: 0% 2% 0% 0%;
    }

    .aboutHeading {
        padding: 30px 16px;
        font-size: 36px;
        text-align: center;
        font-weight: 700;
        margin: 44px 0px 0px 0px;
    }

    .aboutImage {
        width: 76%;
        height: auto;
        margin: 0% 12% 0% 12%;
    }

    .about_box {
        padding: 7% 0%;
        margin: 0px 16px;
    }

    .about_box p {
        font-size: 16px;
        line-height: 25px;
    }

    .dotbox1 img {
        display: none;
    }

    .workText {
        padding: 12px 16px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        color: var(--primary2);
    }

    .topic {
        margin-top: 30px;
        padding-top: 28px;
    }

    .feature {
        width: 96%;
        height: auto;
        margin: 2% 2% 0% 2%;
    }

    .feature p {
        font-size: 16px;
    }


    .feature img {
        width: 18px;
        height: 14px;
        margin: 6px 4px;

    }

    .topic {
        margin-top: 0px;
    }

    .workText {
        padding: 0px 16px 8px 16px;
        font-size: 38px;
        line-height: normal;
        text-align: center;
    }

    footer {
        margin-top: 0px;
    }

    .telegramBtn {
        bottom: 16px;
        right: 16px;
        width: 44px;
        height: 44px;
    }

    .telegramBtn img {
        width: 28px;
        height: auto;
        margin-right: 4px;
    }

}